body
{
    background-color: $light-grayish-blue;
    font-family: $font-primary;
    font-size: $size-primary;
}

.container
{
  margin: 6em 2em;
}


.card
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 30px 50px #dadada;

    @include responsive (desktop)
    {
        display: flex;
        justify-content: center;
        width: 600px;
        height: 36vh;
        margin: 15em auto;
        position: relative;
    }

    &__img
    {

        &-picture
        {
            width: 100%;
            height: 30vh;
            object-position: 0 30%;
            object-fit:cover;
            border-radius: 10px 10px 0 0;

            @include responsive (desktop)
            {
                width: 100%;
                height: 36vh;
                object-fit:cover;
                border-radius: 10px 0 0 10px;
            }
        }
    }

    &__content
    {
        padding: 1.5em 2em;
        text-align: start;
        width: 265px;

        @include responsive(desktop)
        {
            margin: -.5em 0 0 .5em;
            width: 370px;
        }

        &-title
        {
            font-size: 16px;
            line-height: 1.5;
            color: $very-dark-grayish-blue;
            width: 260px;

            @include responsive (desktop)
            {
                width: 270px;
            }
        }

        &-description
        {
            color: $desaturated-dark-blue;
            font-size: 13.5px;
            line-height: 1.5;

            @include responsive(desktop)
            {
                font-size: 11px;
                margin-top: -.5em;
                width: 300px;
            }
        }
    }

    &__profile
    {
        height: 8vh;

        @include responsive(desktop)
        {
            position: absolute;
            bottom: -1em;
        }

        &-img
        {
            width: 40px;
            border-radius: 50%;
            transform: translate(2.2em, -.5em);

            @include responsive(desktop)
            {
                width: 30px;
                transform: translate(2em, -1em);
            }
        }

        &-name
        {
            font-size: 14px;
            color: $very-dark-grayish-blue;
            transform: translate(6em, -4.5em);

            @include responsive(desktop)
            {
                transform: translate(6em, -5.2em);
                font-size: 11.5px;
            }
        }

        &-date
        {
            color: $grayish-blue;
            font-size: 13.5px;
            transform: translate(6.2em, -5.3em);

            @include responsive(desktop)
            {
                font-size: 11px;
                transform: translate(6.2em, -6.2em);
            }
        }

        &-icon
        {
            width: 16px;
            transform: translate(19.5em, -9em);
            background-color: $light-grayish-blue;
            padding: .7em;
            border-radius: 50%;
            cursor: pointer;

            @include responsive(desktop)
            {
                transform: translate(22.5em, -8.4em);
                padding: .5em;
                width: 13px;
            }
        }
    }

    .share
    {
    background-color: $very-dark-grayish-blue;
    border-radius: 0 0 10px 10px;
    height: 10vh;
    transform: translateY(-5em);
    display: none;
    position: absolute;
    width: 86%;


    @include responsive (desktop)
    {
        display: none;
        position: absolute;
        width: 200px;
        height: 45px;
        transform: translate(20em, 8.5em);
        border-radius: 10px;
        box-shadow: 0px 10px 15px #dadada;
    }

    &::after
    {
        @include responsive(desktop)
        {
            content: "";
            display: block;
            border-top: 10px solid $very-dark-grayish-blue;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            bottom: -9px;
            left: calc(50% - 7%);
        }
    }
    
    &__title
    {
        text-transform: uppercase;
        color: $grayish-blue;
        font-size: 13px;
        font-weight: lighter;
        letter-spacing: 5px;
        transform: translate(2.5em, 1.2em);

        @include responsive (desktop)
        {
            font-size: 11px;
            transform: translate(3em, .7em);
        }
    }

    &__svg
    {
        transform: translate(8.5em, -1.1em);
        margin: 0 .6em;

        @include responsive (desktop)
        {
            width: 15px;
            transform: translate(7.5em, -1.3em);
        }

    }

    &__icon
    {
        background-color: $desaturated-dark-blue;
        transform: translate(9.2em, -1.3em);
        border-radius: 50%;
        padding: .5em ;
        color: #fff;
        font-size: 15px;
        cursor: pointer;

        @include responsive(desktop)
        {
            display: block;
            width: 11px;
            height: 11px;
            font-size: 12px;
            transform: translate(7em,1.8em);
            cursor: pointer;
        }
    }
    }

}


